# FRONTEND
VITE_API_URL="http://localhost:3000"
VITE_GIF_URL=

# BACKEND
#api server url
API_URL=
SALTING=
PORT=
JWT_SECRET=
REFRESH_SECRET=
RATE_LIMIT_WINDOW_MINUTES=
RATE_LIMIT_MAX_REQUESTS=
REFRESH_TTL=                         #number of days for refresh token
ACCESS_TTL=                          #access token time in minitues ie.15
EMAIL_ID= 
CONTACT_EMAIL_ID= 
RESEND_API_KEY=
NODE_ENV=
ALLOWED_ORIGINS=